# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ
.idea/
*.iml
out/

# Eclipse / STS
.project
.classpath
.settings
bin/

# VS Code
.vscode/

# NetBeans
/nbproject/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# Env
.env
.env.*